<script lang="ts" setup></script>

<template>
  <div></div>
</template>
<script lang="ts" setup>
computed: {
  formattedValue: {
    get: function() {
      return this.value;
    },
    set: function(newValue) {
      if (newValue.length > 2) {
        newValue = newValue.replace(".", "");
        this.value =
          newValue.substr(0, newValue.length - 2) +
          "." +
          newValue.substr(newValue.length - 2);
      } else {
        this.value = newValue;
      }
    }
  }
}
</script>

<template>
  <div></div>
  <div>
    <v-text-field box label="'label'" v-model="value">Please Input Number</v-text-field>
  </div>
</template>

<style scoped></style>
